

<img alt="Silhouette of mountains" [src]="product.payload.val().imageUrl" />
<ion-card-header>
  <ion-card-title>{{ product.payload.val().title }}</ion-card-title>
  <ion-card-subtitle>A$: {{ product.payload.val().price }} </ion-card-subtitle>
</ion-card-header>

<ion-button  *ngIf="getQuantity()===0; else updateQuantity" expand="block" (click)="addToCart()">
  <ion-label>Add to cart</ion-label>
</ion-button>

<ng-template #updateQuantity>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="removeFromCart()">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{getQuantity()}} in cart</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="addToCart()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ng-template>