

.text-style {
    font-size: 15px;
}


.product-element {
    display: block;
    width: 70%;
    margin: auto;
}

@media(max-width: 768px) { 
    .product-element {
        display: block;
        width: 100%;
        margin: auto;
    }
}