<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Shopping Cart</ion-title>

  </ion-toolbar>
</ion-header>

<ng-container *ngIf="shoppingCart">
  
  <ion-content class="ion-padding ion-justify-content-center">
    <div class="payment-element">
      <p>You currently have {{shoppingCart.getTotalItems()}} items in your cart.</p>
    <ion-grid>
      <ion-row class="ion-align-items-center table-rows">
        <ion-col><ion-label color="tertiary">Product </ion-label></ion-col>
        <ion-col><ion-label color="tertiary">Quantity </ion-label></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center table-rows" *ngFor="let item of shoppingCart.items">
        <ion-col>{{item.product.data.title}}</ion-col>
        <!--<ion-col>{{item.quantity}}</ion-col>-->
        <modify-quantity *ngIf="shoppingCart" [product]="item.product" [shopping-cart]="shoppingCart"></modify-quantity>
        <ion-col>{{item.getProductPrice() | currency: 'AUD': true}}</ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center table-rows">
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-label color="tertiary">{{shoppingCart.getTotalPrice() | currency: 'AUD':
            true}}</ion-label></ion-col>
      </ion-row>
    </ion-grid>

    <ion-radio-group [(ngModel)]="paymentOption">
      <ion-radio value="onDelivery" aria-label="Custom checkbox" labelPlacement="end">Pay by cash</ion-radio><br />
      <ion-radio value="creditCard" aria-label="Custom checkbox that is checked" labelPlacement="end">Credit Card</ion-radio><br />
    </ion-radio-group>

    <ion-button (click)="proceedtoCheckout()" shape="round">
      <ion-icon name="checkmark-circle"></ion-icon>
      Checkout
    </ion-button>

    </div> 
  </ion-content>
</ng-container>