.table-rows {
  border-bottom: solid 1px gray;
  text-align: left;
}

.payment-element {
  display: block;
  width: 70%;
  margin: auto;
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}

@media(max-width: 768px) {
  .payment-element {
    display: block;
    width: 100%;
    margin: auto;
  }
}