

ion-grid {
    font-size: 0.8rem;
}

.payment-element{
    display: block;
    width: 70%;
    margin: auto;
}

@media(max-width: 768px) { 
    .payment-element{
        display: block;
        width: 100%;
        margin: auto;
    }
}